* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  border: 1px solid black;
  width: 100vw;
  max-width: 500px;
  height: 100vh;
  max-height: 650px;
  margin-left: auto;
  margin-right: auto;
}
.header {
  text-align: center;
}
.landing-page {
  text-align: center;
}

/* onboarding css will go here */

.main-display {
  text-align: center;
}




/* everything above is organized and in order. Below needs changes */

.add-sticky-dialog {
  text-align: center;
}
.add-sticky-dialog .back-btn {
  width: 100%;
}
.add-sticky-btn {
  color: rgb(0, 255, 0);
  background: rgb(34, 177, 76);
  border: 2px solid rgb(0, 255, 0);
  width: 100%;
  height: 50px;
  max-height: 50px;
  font-size: 40px;
  margin-top: 5px;
}

.add-sticky-form {
  height: 200px;
  display: flex;
}
.add-sticky-form textarea {
  width: 100%;
}
.add-sticky-form-left,
.add-sticky-form-right {
  width: 50%;
  padding: 8px;
}
.add-sticky-form-right {
  display: flex;
  flex-direction: column;
}
.switch {
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
}
.priority-field {
  border: 1px solid black;
  display: grid;
  grid-template-columns: 250px 250px;
  grid-template-rows: 250px 250px;
}
.sticky-box {
  border: 1px solid black;
  /* display: flex; */
  
}
.do .sticky {
  background-color:  rgb(245, 131, 136);
  border: 3px solid rgb(237, 28, 36);
  width: 50px;
  height: 50px;
  font-size: 10px;
  text-align: center;
  margin: 2px;
  overflow-wrap: break-word;
}
.plan .sticky {
  background-color: rgb(115, 213, 255);
  border: 3px solid rgb(63, 72, 204);
  width: 50px;
  height: 50px;
  font-size: 10px;
  text-align: center;
  margin: 2px;
  overflow-wrap: break-word;
}
.delegate .sticky {
  background-color: rgb(255, 248, 115);
  border: 3px solid rgb(255, 242, 0);
  width: 50px;
  height: 50px;
  font-size: 10px;
  text-align: center;
  margin: 2px;
  overflow-wrap: break-word;
}
.delete .sticky {
  background-color: rgb(203, 155, 129);
  border: 3px solid rgb(136, 0, 21);
  width: 50px;
  height: 50px;
  font-size: 10px;
  text-align: center;
  margin: 2px;
  overflow-wrap: break-word;
}
