* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/** wraps entire application **/
.app {
  border: 1px solid black;
  width: 100vw;
  max-width: 500px;
  height: 100vh;
  max-height: 650px;
  margin-left: auto;
  margin-right: auto;
}

/** header component **/
.header-display-component {
  text-align: center;
}

/** wraps entire '/' path **/
.landing-page-component {
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
}
/* onboarding css will go here */


/* wraps entire '/stickee' path */
.main-display-component {
  text-align: center;
}

/*  */
.priority-display-field-container {
  border: 1px solid black;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 250px 250px;
}

.individual-priority-display-field {
  border: 1px solid black;
}

/* styles each individual stickee note by priority level  */
.do,
.plan,
.delegate,
.delete{
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.do {
  background: linear-gradient(145deg, #d51920, #fe1e27 );
}
.plan {
  background: linear-gradient(145deg, #3941b8, #434dda );
}
.delegate {
  background: linear-gradient(145deg, #e6da00, #ffff00);
}
.delete {
  background: linear-gradient(145deg, #7a0013, #920016);
}
.stickee {
  width: 50px;
  height: 50px;
  font-size: 10px;
  font-weight: 300;
  text-align: center;
  margin: 5px;
  overflow-wrap: break-word;
}
.do .stickee {
  background-color:  rgb(245, 131, 136);
  border: 3px solid rgb(237, 28, 36);
  border-radius: 10px;
background: linear-gradient(145deg, #fe1e27, #d51920);
box-shadow:  8px 8px 16px #931116, 
             -8px -8px 16px #ff2732;
}
.plan .stickee {
  border-radius: 9px;
background: linear-gradient(145deg, #434dda, #3941b8);
box-shadow:  8px 8px 16px #272d7e, 
             -8px -8px 16px #5763ff;
}
.delegate .stickee {
  border-radius: 9px;
background: linear-gradient(145deg, #e6da00, #ffff00);
box-shadow:  8px 8px 16px #9e9600, 
             -8px -8px 16px #ffff00;
}
.delete .stickee {
  border-radius: 9px;
background: linear-gradient(145deg, #7a0013, #920016);
box-shadow:  8px 8px 16px #54000d, 
             -8px -8px 16px #bc001d;
}
.toggle-dialog-btn {
  color: rgb(0, 255, 0);
  background: rgb(34, 177, 76);
  border: 2px solid rgb(0, 255, 0);
  width: 100%;
  height: 50px;
  max-height: 50px;
  font-size: 40px;
  margin-top: 5px;
}

/* wraps entire popup dialog box */
.add-stickee-dialog-component {
  text-align: center;
}
.add-stickee-form-wrap {
  height: 200px;
  display: flex;
}
.form-left-side,
.form-right-side {
  width: 50%;
  padding: 8px;
}
.form-right-side {
  display: flex;
  flex-direction: column;
}
.add-stickee-form-wrap textarea {
  width: 100%;
}
 .switch {
  text-align: center;
}
.stickee-form-back-btn {
  width: 100%;
}




